<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="content">
    <h1>Cписок пользователей</h1>
    <%= link_to "Добавить пользователя", new_user_path %>  
    <div>
      <% @users.each do |user| %>
        <%= render user %>
        <p>
        <%= link_to "Подробнее", user %>
        </p>
      <% end %>
    </div>
  </div>
</div>

